.about-story {
		color: #222222;
		.uk-accordion-title {
			font-weight: 600;
			@include rem(font-size, $fsPrimary);
			line-height: 43px;
			border-bottom: 1px solid #979797;
			@include media('<=md') {
				@include rem(font-size, ms(6));
				line-height: unset;
				padding: 0;
			}
			@include media('<=sm') {
				@include rem(font-size, ms(4));
			}
		}
		.uk-accordion-content p {
			font-size: 2rem;
			@include media('<=md') {
				@include rem(font-size, ms(5));
				line-height: unset;
			}
			@include media('<=sm') {
				@include rem(font-size, ms(3));
			}
		}
		img {
			width:100%;
		}
}