.about-story {
		color: #222222;
		.uk-accordion-title {
			font-weight: 600;
			font-size: 22px;
			line-height: 43px;
			border-bottom: 1px solid #979797;
		}
		.uk-accordion-content p {
			font-size: 2rem;
		}
		img {
			width:100%;
		}
}