.activity-media {
	.uk-card-default.uk-grid-collapse.uk-child-width-1-2\@s.uk-margin.uk-grid {
			margin: 0 !important;
			min-height: 57rem;
			.col-bg-beige {
				background: get-color(beige-dark, 0);
			}
	}
	.uk-card-body {
		@include media('<=md') {
			@include padding-component;
		}
		h4 {
			font-family: $alt-font-family;
			@include rem(font-size, $textLarge);
			line-height: $lh-lg;
			letter-spacing: $ls-xs;
			text-transform: uppercase;
			color: white;
			@include media('<=md') {
				@include rem(font-size, ms(5));
				line-height: unset;
			}
			@include media('<=sm') {
				@include rem(font-size, ms(3));
				padding: 0;
			}
		}

		h3 {
			@include set-font($alt-font-family, 600);
			@include rem(font-size, 3.3rem);
			line-height: 4.9rem;
			color: white;
			position:relative;
			bottom:1rem;
			@include media('<=md') {
				@include rem(font-size, ms(7));
				line-height: unset;
			}
			@include media('<=sm') {
				@include rem(font-size, ms(5));
				padding: 0;
			}
		}

		p {
			@include set-font;
			@include rem(font-size, $textBase);
			line-height: 2.3rem;
			color: white;
			@include media('<=md') {
				@include rem(font-size, ms(5));
				line-height: unset;
			} 
			@include media('<=sm') {
				@include rem(font-size, ms(3));
			} 
		}

		a {
			@include set-font($base-font-family, 800);
			@include rem(font-size, $textExtraLarge);
			line-height: 2.3rem;
			color: get-color(bg,10);
			margin-bottom:4rem;
			@include relative(top 2.5rem);
		}
	}
}