/* -------------------------------------------------------------------------- */
/*                          COMPONENT ACTIVITY-SPORTS                         */
/* -------------------------------------------------------------------------- */

.activity-sports {
	background: get-color(bg, 13);
	// ANCHOR Optimize for mobile
	@include media('<=md') {
		@include padding-component;
	}
	.uk-container {
		@include media('<=md') {
			padding:0;
		}
	}
	&__heading {
		h1 {
			@include set-font($alt-font-family, 600);
			@include rem(font-size, 4.2rem);
			color: get-color(primary, 0);	
			text-align: center;
			@include media('<=md') {
				@include rem(font-size, ms(6));
			}
			@include media('<=sm') {
				@include rem(font-size, ms(4));
				padding: 0;
			}
		}
		p {
			@include set-font;
			@include rem(font-size, $textLarge);
			line-height: 32px;
			letter-spacing: $ls;
			color: get-color(primary, 1);
			@include media('<=md') {
				@include rem(font-size, ms(5));
				line-height: unset;
			} 
			@include media('<=sm') {
				@include rem(font-size, ms(3));
			} 
		}
	}
	&__body {
		margin-top:4rem;
		color: get-color(primary, 1);
		@include media('<=md') {
			margin-top:2rem;
		}
		.uk-accordion-title {
			@include set-font($alt-font-family, 600);
			@include rem(font-size, $fsPrimary);
			@include border('bottom', 1px, solid, get-color(bg,14));
			line-height: 43px;
			@include media('<=md') {
				@include rem(font-size, ms(6));
				line-height: unset;
				padding: 0;
			}
			@include media('<=sm') {
				@include rem(font-size, ms(4));
				padding: 0;
			}
		}
		.uk-accordion-content p {
			@include rem(font-size, $textLarge);
			@include media('<=md') {
				@include rem(font-size, ms(5));
				line-height: unset;
			} 
			@include media('<=sm') {
				@include rem(font-size, ms(3));
			} 
		}
	}
	&__footer {
		margin-top:4rem;
		p {
			@include set-font;
			@include rem(font-size, $textLarge);
			line-height:3.2rem;
			@include media('<=md') {
				@include rem(font-size, ms(5));
			}
		}
	}
}