$fs: (
  letters: (
    xs: ms(2),
    md: ms(6),
  ),
);

.authors-list {
  &__letters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    > a {
      display: block;
      line-height: 1.1;
      margin: rem(4px);
      font-weight: 700;
      font-size: map-deep-get($fs, letters, xs);

      @include media('>=md') {
        font-size: map-deep-get($fs, letters, md);
      }
    }
  }

  &__list {
    margin: rem(30px 0 0);

    @include media('>=sm') {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}