.book-your-room {
	background: #F3F3F2;
	@include media('<=md') {
		padding:1.5rem;
	}
	h1 {
		font-family: $alt-font-family;
		font-weight: 600;
		font-size: 32.43px;
		color: #222222;
		@include media('<=md') {
			font-size: ms(8);
		}
		@include media('<=sm') {
			font-size: ms(6);
			padding: 0;
		}
	}
	p {
		font-family: $base-font-family;
		font-size: 22px;
		line-height: 32px;
		@include media('<=md') {
			font-size: ms(5);
			line-height: unset;
		} 
		@include media('<=sm') {
			font-size: ms(3);
		} 
	}
	.uk-grid-margin {
		margin-top: unset;
	}

	span {
		color: get-color(primary, 0);
	}
	.uk-inline {
		width:183px;
		margin: 2rem;
		.uk-input,
		.uk-select,
		.uk-textarea {
			border: transparent;
			border-bottom: 1px solid black;
			background: transparent;
			font-weight: 600;
			font-size: 1.6rem;
			padding-top:0.6rem;
			color: #4D4B4A;
			font-family: $base-font-family;
		}
		p {
			font-family: $base-font-family;
			font-size: 14px;
			line-height: 21px;
			color: #796E65;
			mix-blend-mode: normal;
			opacity: 0.9;
			text-align: left;
			position: relative;
			top: 5px;
		}

		.disponibility {
			position: absolute;
		}
		button {
			width: 100%;
		}
	}
}