/* -------------------------------------------------------------------------- */
/*                          COMPONENT BOOK-YOUR-ROOM                          */
/* -------------------------------------------------------------------------- */

.book-your-room {
	background: get-color(bg, 13);

	// ANCHOR Optimize for mobile
	@include media('<=md') {
		@include padding-component;
	}

	@include headings() {
		@include set-font($alt-font-family, 600, normal, 3.25rem);
		color: get-color(primary, 1);

		@include media('<=md') {
			@include rem(font-size, ms(8));
		}

		@include media('<=sm') {
			@include rem(font-size, ms(6));
			padding: 0;
		}
	}

	p {
		@include set-font;
		@include media-font-size-small();
		line-height: 3.2rem;
	}

	.uk-grid-margin {
		margin-top: unset;
	}

	span {
		color: get-color(primary, 0);
	}

	.uk-inline {
		@include size(18.3rem, auto);
		margin: 2rem;

		.uk-input,
		.uk-select,
		.uk-textarea {
			background: transparent;
			border: transparent;
			@include border('bottom', 1px, solid, black);
			@include set-font($base-font-family, 600, normal, $textBase);
			@include padding(1rem, 0, 0, 0);
			color: get-color(bg, 8);
		}

		label {
			@include relative(top $su);
			@include set-font($base-font-family, normal, normal, $textMedium);
			line-height: $lh-s;
			color: get-color(primary, 0);
			mix-blend-mode: normal;
			opacity: 0.9;
			text-align: left;
		}

		.disponibility {
			@include absolute;
		}

		button {
			@include size(100%, auto);
		}
	}
}