.house-plan {
	background: #F3F3F2;
	img {
		width: 20rem;
		mix-blend-mode: multiply;
	}
	h1, h2 {
		@include set-font($alt-font-family, 600);
		@include rem(font-size, 3.243rem);
		color: #C2BEBA;
		@include media('<=md') {
			@include rem(font-size, ms(8));
			line-height: unset;
			padding: 0;
		}
		@include media('<=sm') {
			@include rem(font-size, ms(6));
		}
	}
	h6 {
		@include rem(font-size, 1.6rem);
		font-family: $alt-font-family;
		line-height: 2.4rem;
		text-align: center;
		letter-spacing: 0.696258px;
		text-transform: uppercase;
		color: rgba(121, 110, 101, 0.8);
		align-self: self-end;
		padding-top: 2rem;
	}
}