/* -------------------------------------------------------------------------- */
/*                            COMPONENT HOUSE-PLAN                            */
/* -------------------------------------------------------------------------- */

.house-plan {
	background: get-color(bg,13);
	@include media('<=md') {
		@include padding-component();
	}
	img {
		@include size(20rem, auto);
		mix-blend-mode: multiply;
	}
	h1, h2 {
		@include set-font($alt-font-family, 600, normal, 3.25rem);
		color: get-color(bg, 11);
		@include media('<=md') {
			@include rem(font-size, ms(8));
			line-height: unset;
			padding: 0;
		}
		@include media('<=sm') {
			@include rem(font-size, ms(6));
		}
	}
	h6 {
		@include set-font($alt-font-family, normal, normal, $textBase);
		@include align-self(self-end);
		line-height: $lh-sm;
		text-align: center;
		letter-spacing: $ls-xxs;
		text-transform: uppercase;
		color: rgba(121, 110, 101, 0.8);
		padding-top: $pt;
	}
}