/* -------------------------------------------------------------------------- */
/*                            COMPONENT HOUSE-PLAN                            */
/* -------------------------------------------------------------------------- */

.house-plan {
	background: get-color(bg, 13);

	@include media('<=md') {
		@include padding-component();
	}

	img {
		@include size(20rem, auto);
		mix-blend-mode: multiply;
	}
	@include headings(1, 2) {
		@include set-font($alt-font-family, 600, normal, 3.25rem);
		@include media-font-size-large();
		color: get-color(bg, 11);
	}

	@include headings(3, 6) {
		@include set-font($alt-font-family, normal, normal, $textBase);
		@include align-self(self-end);
		line-height: $lh-sm;
		text-align: center;
		letter-spacing: $ls-xxs;
		text-transform: uppercase;
		color: rgba(121, 110, 101, 0.8);
		padding-top: $pt;
	}
}