/* -------------------------------------------------------------------------- */
/*                             COMPONENT LOCATION                             */
/* -------------------------------------------------------------------------- */

.container-location {
	@include relative;
	.location {
		@include size(auto, 88rem);
	}
	.location-large {
		@include size(auto, 100%);
		@include media('<=md') {
			.container-location__location-heading {
				@include flex-flow(column-reverse);
				background: get-color(primary, 0);
				position:unset;
				max-height: unset;
				h1,p {
					@include rem(font-size, ms(4));
				}
			}
		}
	}
	&__location-heading{
		@include absolute;
		background: rgba(34, 34, 34, 0.56);
		z-index: 1;
		@include media('<=md') {
			@include padding-component();
		}
			p:first-child {
				@include set-font($base-font-family, 300);
				@include rem(font-size, ms(6));
				letter-spacing: $ls-xs;
				text-transform: uppercase;
				color: white;
				@include media('<=md') {
					@include rem(font-size, ms(8));
				}
				@include media('<=sm') {
					@include rem(font-size, ms(6));
					padding: 0;
				}
			}
			h1 {
				@include set-font($alt-font-family, 600);
				@include rem(font-size, 3.25rem);
				line-height: 4.9rem;
				color: #FCFAF8;
				text-transform: capitalize;
				@include media('<=md') {
					@include rem(font-size, ms(8));
				}
				@include media('<=sm') {
					@include rem(font-size, ms(6));
				}
			}
			p:last-child {
				@include set-font();
				@include rem(font-size, $textExtra);
				text-transform: capitalize;
				line-height: $lh-sl;
				color: white;
				@include media('<=md') {
					@include rem(font-size, ms(5));
					line-height: unset;
				}
				@include media('<=sm') {
					@include rem(font-size, ms(3));
				}
			}
		}
		&__location-body {
				@include size(auto, 100%);
			img {
				object-fit: cover;
				@include size(100%, 100%);
			}
	}
		.location-thumb {
			margin-top: -0.1rem;
			li, .uk-active {
					@include size(20%, auto);
					margin: 0;
					padding: 0;
				a {
					min-height: 3rem;
					@include size(100%, auto);
					@include media('>=md') {
						@include size(auto, 22.25rem);
					}
				}
			}
			div {
				@include border('top', 1rem, solid, get-color(primary, 1));
			}
		}	
}