/* -------------------------------------------------------------------------- */
/*                               COMPONENT MODAL                              */
/* -------------------------------------------------------------------------- */

$fs: (
  xs: ms(5),
  sm: ms(6),
  md: ms(8),
  xl: ms(9),
);
.modal-primary-menu {
  &__container {
    .modal-dialog {
      height:100vh;
      overflow: hidden;
      background: rgba(80, 77, 71, 0.95);
      .uk-modal-close-full {
        @include flexbox();
        @include justify-content(flex-start);
        @include size(100%, auto);
        padding: 2.8rem 2.6rem 0rem 1.6rem;
        background: none;
        color: white;
      }
      span {
        color: white;
        text-transform: uppercase;
        @include absolute(top 2.7rem left 5.59rem);
        @include x-rem(font-size, 1.25);
      }
      .container-menu-wrapper {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        min-height: 100%;
        &__body {
          @include flexbox();
          @include justify-content(center);
          @include align-items(center);
          @include flex-direction(column);
          min-height: 100%;
          text-align: center;
          // STUB overflow: auto; // NOTE for console developer
          menu, ul {
            @extend %listreset;
            text-align: center;
            li {
              a {
                color: white;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                @include set-font($alt-font-family, normal, normal, map-get($fs, xl));
                @include media('<=md') {
                  @include rem(font-size, map-get($fs, md));
                }
                @include media('<=sm') {
                  @include rem(font-size, map-get($fs, sm));
                }
              }
            }
            .uk-button-text::before {
              @include border('bottom', 1px, solid, white);
            }
          } 
        }
        &__footer {
          .menu-social {
            @include flexbox();
            @include justify-content(center);
            padding-top:$pt;
            ul {
               list-style-type: none;
               display: inline-flex;
               @include justify-content(center);
               li {
                @include size(4rem, 4rem);
                display: inline-block;
                margin-right: 1.6rem;
                padding:1rem;
                border: 1px solid white;
                background: get-color(beige-dark, 0);
                border-radius: 50%;
                opacity: 0.8;
                &:hover {
                  transition:$tt;
                  box-shadow: 0 0 4px 2px #f2f2f2;
                  opacity:1;
                  transform: translateY(-1rem);
                 }
                }
            }
          }
          .site-search {
            @include flexbox();
            @include justify-content(center);
            padding:$pt;
            button {
              @include relative(left -2.5rem);
            }
          }
        }
      }
    }
  }
}
