$ico-dim: rem(32px);
.quote {
	.uk-modal-dialog {
		background: get-color(modal, 0);
		h2 {
			font-size: ms(8);
			font-weight: 600;
			text-transform: capitalize;
		}	
		p {
			font-size: ms(4);
			color: #222222;
		}

		.seperator-pricequotation {
			.uk-divider-small {
				margin: 0 1rem;
			}
			svg, object, img {
				width: $ico-dim;
			}
		}

			button {
				margin: 2rem 1rem 0 0;
				font-size: 1.6rem;
				color:get-color(bg,0);
			}
			button:last-child {
				color: get-color(beige-dark,1);
				font-weight: 800;
			}
	}
}