/* -------------------------------------------------------------------------- */
/*                            COMPONENT PRICE-LIST                            */
/* -------------------------------------------------------------------------- */

.price-list {
	// ANCHOR Optimize for mobile
	@include media('<=md') {
		@include padding-component();
	}
	&__heading {
		h1 {
			padding: 0;
		}
	}
	&__body {
		.tab-container {
			@include media('<=md') {
				padding:0;
			}
			.uk-subnav {
				margin:0;
				@include border('bottom', 1.5px, solid, get-color(primary, 0));
			}
			.uk-subnav > * {
				padding:0;
				@include relative(top 0.1rem);
			}
			.uk-subnav-pill > .uk-active > a {
				background: get-color(primary, 0);
				text-align: center;
				color: white;
				@include set-font($alt-font-family, 500, normal, $textGiant);
				@include padding(1.2rem, 3.8rem, 1.2rem, 3.8rem);
				@include media('<=md') {
					@include rem(font-size, $textExtra);
				}
			}
			.uk-subnav-pill>*>a:hover {
				background:none;
				color: get-color(primary, 0);
			}
			.uk-subnav-pill > * > :first-child {
				@include set-font($alt-font-family, 500, normal, $textGiant);
				@include padding(1.2rem, 3.8rem, 1.2rem, 3.8rem);
				text-align: center;
				color: black;
				@include media('<=md') {
					@include rem(font-size, $textExtra);
				}
			}
			.uk-switcher.uk-margin:hover {
				a {
					text-decoration: none;
				}
			}
			p {
				@include set-font($alt-font-family, normal, normal, $textMedium);
				letter-spacing: 0.52px;
				color: get-color(bg, 8);
			}
			.confirm-info {
				button {
					@include size(29rem, auto);
					margin: auto 1rem;
					@include media('<=md') {
						padding: 1rem 0.7rem;
						@include rem(font-size, 1.125rem);
						@include size(16rem, auto);
					}
					@include media('<=sm') {
						@include rem(font-size, 0.9rem);
						@include size(14rem, auto);
					}
				}
			}
		}
	}
}