.price-list {
	// ANCHOR Optimize for mobile
	@include media('<=md') {
		padding:1.5rem;
	}
	&__heading {
		h1 {
			padding: 0;
		}
	}
	&__body {
		.tab-container {
			// ANCHOR Optimize for mobile
			@include media('<=md') {
				padding:0;
			}
			.uk-subnav {
				margin:0;
				border-bottom:1.5px solid get-color(primary, 0);
			}
			.uk-subnav > * {
				padding:0;
				position: relative;
				top: 0.1rem;
			}
			.uk-subnav-pill > .uk-active > a {
				font-family: $alt-font-family;
				font-style: normal;
				font-weight: 500;
				font-size: 27.64px;
				text-align: center;
				color: white;
				background: get-color(primary, 0);
				padding:1.2rem 3.8rem 1.2rem 3.8rem;
			}
			.uk-subnav-pill>*>a:hover {
				background:none;
				color: get-color(primary, 0);
			}
			.uk-subnav-pill > * > :first-child {
				font-family: $alt-font-family;
				font-style: normal;
				font-weight: 500;
				font-size: 2.8rem;
				text-align: center;
				color: black;
				padding:1.2rem 3.8rem 1.2rem 3.8rem;
			}
			.uk-switcher.uk-margin:hover {
				a {
					text-decoration: none;
				}
			}
			p {
				font-family: $alt-font-family;
				font-style: normal;
				font-size: 1.4rem;
				letter-spacing: 0.52px;
				color: #4A4A4A;
			}
			.confirm-info {
				button {
					width: 29rem;
					margin: 1rem;
					@include media('<=md') {
						font-size:ms(3);
						padding:0.8rem;
						width: 22rem;
					}
				}
			}
		}
	}
}