/* -------------------------------------------------------------------------- */
/*                             COMPONENT PROPOSALS                            */
/* -------------------------------------------------------------------------- */

.proposals {
	// ANCHOR Optimize for mobile
	@include media('<=md') {
		@include padding-component();
	}
	&__heading {
		@include media('<=md') {
			padding:0;
		  }
		img {
			margin: 0 auto;
		}
		h2 {
			@include set-font($alt-font-family, 600);
			@include rem(font-size, 3.25rem);
			color: get-color(primary, 0);
			padding-bottom: 2rem;
			@include media('<=md') {
				@include rem(font-size, ms(9));
			}
			@include media('<=sm') {
				@include rem(font-size, ms(8));
			}
		}
		p {
			color: get-color(primary, 1);
			@include set-font;
			@include rem(font-size, $fsPrimary);
			line-height: $lh-xl;
			font-weight: normal;
			@include media('<=md') {
				@include rem(font-size, ms(5));
				line-height: unset;
			}
			@include media('<=sm') {
				@include rem(font-size, ms(3));
			}
		}
	}
}