/* -------------------------------------------------------------------------- */
/*                             COMPONENT PROPOSALS                            */
/* -------------------------------------------------------------------------- */

.proposals {

	// ANCHOR Optimize for mobile
	@include media('<=md') {
		@include padding-component();
	}

	&__heading {
		@include media('<=md') {
			padding: 0;
		}

		img {
			margin: 0 auto;
		}

		@include headings-all() {
			@include set-font2($alt-font-family, 600);
			color: get-color(primary, 0);
			padding-bottom: $pb;
		}

		p {
			@include set-font;
			@include media-font-size-small();
			color: get-color(primary, 1);
			line-height: $lh-xl;
			font-weight: normal;
		}
	}
}