.room-description {
	.room-info {
		&__wrapper {
			width: 50%;
			 div {
				display: inline-flex;
				display: -webkit-inline-flex;
				align-items: center;
				color: #796E65;
				font-weight: bold;
				font-size: 14px;
				span, img {
					margin-right: 0.6rem;
				}
			}
		}
	}
	p {
		font-family: $base-font-family;
		font-size: 22px;
		line-height: 34px;
		text-align: center;
	}
}