.services {
	background: get-color(beige-dark, 0);
	text-align: center;
	// ANCHOR Optimize for mobile
	@include media('<=md') {
		@include padding-component();
	}
	&__heading {
		@include media('<=md') {
			padding:0;
		  }
		h2 {
			@include set-font($alt-font-family, 600);
			@include rem(font-size, 3.2rem);
			color:white;
			line-height: $lh-xxl;
			@include media('<=md') {
				@include rem(font-size, ms(9));
			  }
			@include media('<=sm') {
				@include rem(font-size, ms(8));
			}
		}
		p {
			@include rem(font-size, $fsPrimary);
			color:white;
			padding-top: $pt;
			@include set-font;
			@include media('<=md') {
				@include rem(font-size, ms(5));
			}
			@include media('<=sm') {
				@include rem(font-size, ms(3));
			}
		}
	}

	&__body {
		@include media('<=md') {
			padding:0;
		  }
		div {
			@include flexbox();
			@include justify-content(center);
			@include align-items(center);
			@include size(100%, auto);
		}
		object, svg {
			@include size(8rem, auto);
		}
		p {
			@include flexbox();
			@include size(60%, auto);
			@include rem(font-size, $textExtra);
			@include set-font($alt-font-family, normal);
			text-transform: uppercase;
			text-align: left;
			color: get-color(bg, 11);
			line-height: $lh-md;
			word-break: break-word;
		}
	}
}