.services {
	background-color: get-color(beige-dark, 0);
	text-align: center;
	@include media('<=md') {
		padding:1.5rem;
	  }
	&__heading {
		@include media('<=md') {
			padding:0;
		  }
		h2 {
			font-family: $alt-font-family;
			font-weight: 600;
			font-size: 3.2rem;
			color:white;
			line-height: 49px;
			@include media('<=md') {
				font-size: ms(9);
			  }
			@include media('<=sm') {
				font-size: ms(8);
			}
		}
		p {
			font-family: $base-font-family;
			font-size:2rem;
			color:white;
			padding-top: 2rem;
			@include media('<=md') {
				font-size: ms(5);
			}
			@include media('<=sm') {
				font-size: ms(3);
			}
		}
	}

	&__body {
		@include media('<=md') {
			padding:0;
		  }
		div {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
		object, svg {
			width: 8rem;

		}
		p {
			font-family: $alt-font-family;
			text-transform: uppercase;
			font-size: 1.8rem;
			color: get-color(bg, 11);
			line-height: 28px;
			word-break: break-word;
			display: flex;
			width: 60%;
			text-align: left;
			margin-left: 2rem;
		}
	}
}