.stay-request {
	background-color: #F3F3F2;
	@include media('<=md') {
		padding: 1.5rem;
	}
	&__heading {
		@include media('<=md') {
			padding:0;
		}
		h2 {
			font-family: $alt-font-family;
			font-weight: 600;
			font-size: 3.3rem;
			line-height: 49px;
			color: #222222;
			line-height: 70px;
			@include media('<=md') {
				font-size: ms(9);
				line-height: unset;
			}
		}

		p {
			font-family: $base-font-family;
			font-size: 22px;
			line-height: 32px;
			@include media('<=md') {
				font-size: ms(5);
			}
		}

		a {
			font-family: $base-font-family;
			font-weight: 800;
			font-size: 2.4rem;
			line-height: 23px;
			display: inline-block;
			padding:2rem;
			@include media('<=md') {
				font-size: ms(6);
			}
		}
	}
	&__body {
		button {
			width:100%;
		}
	}
}