/* -------------------------------------------------------------------------- */
/*                           COMPONENT STAY-REQUEST                           */
/* -------------------------------------------------------------------------- */

.stay-request {
	background: get-color(bg, 13);
	// ANCHOR Optimize for mobile
	@include media('<=md') {
		@include padding-component;
	}
	&__heading {
		@include media('<=md') {
			padding:0;
		}

		@include headings-all() {
			@include set-font2($alt-font-family, 600);
			color: get-color(primary, 1);
			line-height: 7rem;
		}

		p {
			@include set-font;
			@include media-font-size-small();
			line-height: 3.2rem;
		}

		a {
			@include set-font($base-font-family, 800, normal, $textExtraLarge);
			@include media-a();
			display: inline-block;
			text-decoration: none;
		}
	}
	&__body {
		@include media('<=md') {
			padding: 0;
		}
		button {
			@include size(100%, auto);
		}
	}
}