$fs: (
  title: (
    xs: ms(4),
    sm: ms(7),
  )
);
$spacing: rem(24px);

.taglist {
  @include media('>=sm') {
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: $alt-font-family;
    text-transform: uppercase;
    font-weight: 300;
    font-size: map-deep-get($fs, title, xs);
    text-align: center;

    @include media('>=sm') {
      margin-right: $spacing;
      font-size: map-deep-get($fs, title, sm);
    }
  }
}