.wwea-hotels {
	// ANCHOR Optimize for mobile
	@include media('<=md') {
		padding:1.5rem;
	}
	.heading-address {
		.hotel-image {
			img {
				margin: 0 auto;
				mix-blend-mode: multiply;
			}	
		}

		.address-wrapper {
			padding-top:2rem;
			h5 {
				@include set-font($alt-font-family, 600);
				@include rem(font-size, 2rem);
				line-height: 1.8rem;
				letter-spacing: 0.5rem;
				text-transform: uppercase;
			}
			a {
				@include set-font;
				@include rem(font-size, 1.8rem);
				line-height: 2.8rem;
				text-decoration: none;
			}
		}
	}
	.how-to-reach-us {
		padding-top:4rem;
		h2 {
			@include set-font($alt-font-family, 600);
			@include rem(font-size, 3.3rem);
			line-height: 4.9rem;
			@include media('<=md') {
				font-size: ms(6);
			}
		}
		p {
			@include set-font;
			@include rem(font-size, 1.8rem);
			line-height: 2.8rem;
			@include media('<=md') {
				@include rem(font-size, ms(5));
			}
		}
	}
}

.hotel-bg-1 {
	background-color: #F3F3F2;
}
.hotel-bg-2 {
	background-color: white;
}