/* -------------------------------------------------------------------------- */
/*                        COMPONENT WHERE-WE-ARE-HOTELS                       */
/* -------------------------------------------------------------------------- */

.wwea-hotels {
	// ANCHOR Optimize for mobile
	@include media('<=md') {
		@include padding-component;
	}
	.heading-address {
		.hotel-image {
			img {
				margin: 0 auto;
				mix-blend-mode: multiply;
			}	
		}

		.address-wrapper {
			padding-top:$pt;
			h5 {
				@include set-font($alt-font-family, 600, normal, $textLarge);
				line-height: $lh-xs;
				letter-spacing: 0.5rem;
				text-transform: uppercase;
			}
			a {
				@include set-font($base-font-family, normal, normal, $textExtra);
				line-height: $lh-md;
				text-decoration: none;
			}
		}
	}
	.how-to-reach-us {
		padding-top:4rem;
		h2 {
			@include set-font($alt-font-family, 600, normal, 3.3rem);
			line-height: $lh-xxl;
			@include media('<=md') {
				font-size: ms(6);
			}
		}
		p {
			@include set-font($base-font-family, normal, normal, $textExtra);
			line-height: $lh-md;
			@include media('<=md') {
				@include rem(font-size, ms(5));
			}
		}
	}
}

.hotel-bg-1 {
	background-color: get-color(bg, 13);
}
.hotel-bg-2 {
	background-color: white;
}