$ico-ball: rem(24px);
$spacing: rem(12px);
$fs: (
  name: (
    xs: ms(0),
    md: ms(1),
  )
);

.author-teaser {
  display: flex;
  align-items: center;
  padding-bottom: rem(8px);
  border-bottom: 1px dashed get-color(bg, 0);

  &__ico {
    width: $ico-ball;
    height: $ico-ball;
    border-radius: 100%;
    background: get-color(primary, 0);
    margin-right: $spacing;

    svg {
      fill: white;
      width: $ico-ball;
      height: $ico-ball;
    }
  }

  &__name {
    font-weight: 700;
    font-size: map-deep-get($fs, name, xs);

    @include media('>=md') {
      font-size: map-deep-get($fs, name, md);
    }
  }

  @include when-inside('.authors-list') {
    margin-bottom: rem(8px);

    @include media('>=sm') {
      width: calc(50% - 15px);
    }
  }
}