$badge-pos: (
  top: rem(12px),
  right: rem(12px),
);
$spacing: rem(12px);
$fs: (
  title: ms(0),
  author: ms(-2),
  shopLabel: ms(-2),
);

.book-card {
  &__img {
    position: relative;
    margin: 0 0 $spacing;
  }

  &__badge {
    position: absolute;
    top: map-get($badge-pos, top);
    right: map-get($badge-pos, right);
    width: rem(20px);
    height: rem(20px);
    background: get-color(primary, 0);
    border-radius: 100%;
  }

  &__title {
    font-size: map-get($fs, title);
    line-height: 1.3;
  }

  &__footer {
    margin-top: $spacing;
  }

  &__author {
    font-style: italic;
    font-size: map-get($fs, author);
  }

  &__shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dotted get-color(bg, 0);
    padding-top: rem(4px);

    &__label {
      font-size: map-get($fs, shopLabel);
      color: get-color(bg, 0);
    }

    &__links {
      display: flex;
      align-items: center;

      > a + a {
        margin-left: rem(12px);
      }
  
      img {
        max-height: rem(16px);
      }
    }
  }

  .grid-cell > & {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .card__text {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @include when-inside('.section--dark') {
    .card__title a,
    .card__author a {
      color: white;
    }
  }
}