// SECTION Card Room
.cards-room {
  // ANCHOR Optimize for mobile
  @include media('<=md') {
    padding: 1rem 0;
    }
  .uk-card.uk-card-default {
    height: 100%;
    height: 100%; box-shadow: 0 5px 12px rgba(71, 62, 62, 0.7);
    cursor:pointer;
}
  .uk-card-default .uk-card-title {
    color: white;
    padding-bottom: 2rem;
    @include set-font($alt-font-family, 800);
    @include rem(font-size, 3.2rem);
  }
  
  p {
    @include set-font;
    @include rem(font-size, ms(6));
    color: white;
    margin-bottom: 2rem;
    @include media('<=md') {
      @include rem(font-size, ms(5));
    }
    @include media('<=sm') {
      @include rem(font-size, ms(3));
    }
  }
  img {
    width:100%;
  }
  .uk-card-media-top {
    @include relative;
  }
  .room-rating {
    @include absolute(bottom 0);
    background: rgba(121, 110, 101, 0.5);
    width: 100%;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 9.01px; 
      height: 9.03px; 
    } 
  }
  
  .uk-card-body {
    background: get-color(beige-dark, 0);
    .info-room {
      display: flex;
      color: white;
      @include rem(font-size, 1.4rem);
      @include set-font;
      &__guests {
        display: flex;
        align-items: center;
        padding-right: 1rem;
        span {
          margin-right: 1rem;
        }
      }
      &__m2 {
        display: flex;
        align-items: center;
        img {
          margin-right:1rem;
          width: 20px;height:20px;
        }
      }
    }
    button {
      width:100%;
    }
  }
}


// SECTION CARD Activity
.cards {
  .zoom-container {
    -webkit-transition: opacity .2s ease-out .1s;
    -moz-transition: opacity .2s ease-out .1s;
    transition: opacity .2s ease-out .1s;
  }
  .card {
    @include relative;
    a {
      -webkit-transition: color .2s ease-out;
      -moz-transition: color .2s ease-out;
      transition: color .2s ease-out;
      overflow: hidden;
      display: block;
      height:100%;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;    
      -webkit-transition: -webkit-transform 1s cubic-bezier(.25,.04,0,.93);
      -moz-transition: -moz-transform 1s cubic-bezier(.25,.04,0,.93);
      transition: transform 1s cubic-bezier(.25,.04,0,.93);
      -webkit-transform: translate3d(0,0,0) scale(1.06);
      -moz-transform: translate3d(0,0,0) scale(1.06);
      transform: translate3d(0,0,0) scale(1.06);
      &:hover {
        -webkit-transform: translate3d(3%,0,0) scale(1.06);
        -moz-transform: translate3d(3%,0,0) scale(1.06);
        transform: translate3d(3%,0,0) scale(1.06);
      }
    }
    .card-content {
      @include absolute(top 0);
      width: 100%;
      background: rgba(34, 34, 34, 0.56);
      h4 {
        letter-spacing: 0.881201px;
        text-transform: uppercase;
        @include set-font($base-font-family, 300);
        @include rem(font-size, 2.025rem);
        line-height: 28px;
        color: white;
      }
      h2 {
        white-space: nowrap;
        @include set-font($base-font-family, 600);
        @include rem(font-size, 2.243rem);
        line-height: 49px;
        color: #FCFAF8;
      }
      p {
        @include set-font;
        @include rem(font-size, 1.6rem);
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.8px;
        color: white;
      }
    }
  }
}
@media screen and (min-width: 40rem) {
  .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .card {
      flex: 0 1 calc(50% - 0rem);
  }
}
@media screen and (min-width: 60rem) {
  .card {
      flex: 0 1 calc(25% - 0rem);
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .card {
    flex: 0 1 calc(50% - 0rem);
  }
}