/* -------------------------------------------------------------------------- */
/*                           COMPONENT CONTACT FORM                           */
/* -------------------------------------------------------------------------- */

.contact-form {
	@include media('<=md') {
		@include padding-component;
	}
	&__body {
		margin:0 auto;
		.uk-first-column {
			padding:0;
			@include headings-all() {
				@include set-font2($alt-font-family, normal);
				line-height: 3.5rem;
				letter-spacing: $ls-md;
				text-transform: uppercase;
				color: black;
				@include media('<=md') {
					text-align: center;
				}
			}
			p {
				line-height: $lh-xl;
				color: get-color(primary, 1);
				@include set-font();
				@include media-font-size-small();
				@include media('<=md') {
					text-align: center;
				}
			}
		}
		.input-container {
			@include size(96.55%, auto);
			// NOTE Override Material-Design Textfields
			.mdc-floating-label {
				@include rem(font-size, $fsPrimary);
				padding:1rem;
			}
			.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
				color: get-color(primary, 0);
			}
			.mdc-text-field .mdc-line-ripple {
				background-color: get-color(bg, 9);
			}
			.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
				border-color: get-color(bg, 9);
			}
			.mdc-text-field {
				@include size(48%, auto);
				margin-bottom: 1.4rem;
				margin-right: 1rem;
				&__input {
					caret-color: black;
					@include padding(3rem, 0, 0, 2.5rem);
					@include rem(font-size, $textLarge);
				}
				@include media('<=lg') {
					@include size(100%, auto);
				}
				&--outlined {
					@include size(94.5%, auto);
					@include media('<=lg') {
						@include size(100%, auto);
					}
				}
			}
			.message {
				@include size(98.8%, auto);
				@include media('<=lg') {
					@include size(100%, auto);
				}
			}
		}
		.privacy-area {
			@include flexbox();
			@include justify-content(flex-start);
			@include align-items(self-start);
			line-height: $lh-base;
			label {
				padding-left: $su;
			}
		}
		button {
			@include size(94.5%, auto);
			margin-top:1rem;
			@include media('<=lg') {
				@include size(100%, auto);
			}
		}
	}
}