/* -------------------------------------------------------------------------- */
/*                           COMPONENT CONTACT FORM                           */
/* -------------------------------------------------------------------------- */

.contact-form {
	@include media('<=md') {
		@include padding-component;
	}

	&__body {
		margin: 0 auto;

		.uk-first-column {
			padding: 0;

			@include headings-all() {
				@include set-font2($alt-font-family, normal);
				line-height: 3.5rem;
				letter-spacing: $ls-md;
				text-transform: uppercase;
				color: black;

				@include media('<=md') {
					text-align: center;
				}
			}

			p {
				line-height: $lh-xl;
				color: get-color(primary, 1);
				@include set-font();
				@include media-font-size-small();

				@include media('<=md') {
					text-align: center;
				}
			}
		}
	}
}