form {
	.grid {
		padding:0.9rem;
		.uk-width-1-2\@m {
			width: 66.6%;
			@include media('<=lg') {
				width:100%;
			}
		}
		.uk-inline {
			width: 100%;
			input {
				width: 100%;
				margin:0;
				margin-bottom:1rem;
				padding:1rem;
				background: none;
				border: none;
				border-bottom: 1px solid #4D4B4A;
				font-weight: 600;
				font-size: 1.6rem;
				font-family: $title-font-family;
				&:focus {
					background: none;
				}
				&[placeholder] {
					color: #4D4B4A;
				}
			}
			textarea {
				border: none;
				background: none;
				border-bottom: 1px solid black;
				width: 100%;
				outline: none;
				resize: none;
				padding-left: 4rem;
				padding-top: 3.5rem;
				font-family: $base-font-family;
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 28px;
				color: #4D4B4A;
			}
			.uk-form-icon-flip.uk-icon { 
				position: absolute;
				left: 0;
				top: -8rem;
			}
			span {
				color: get-color(primary, 0);
			}
			.privacy {
				padding-top: 1rem;
				display: flex;
				input[type='checkbox'] {
					width:1.9rem;
					height:1.9rem;
				}
			}
	}
		.uk-width-1-6\@m {
			display: flex;
			align-items: center;
		}
		[class*="uk-width"] {
			@include media('<=lg') {
				padding:0;
			}
		}
	}
}