/* -------------------------------------------------------------------------- */
/*                          COMPONENT GALLERY-FULL_1/2                         */
/* -------------------------------------------------------------------------- */

.gallery-full_1-2 {
	div {
		img {
			width: 100%;
		}

		@include headings-all() {
			@include set-font2($alt-font-family, normal);
			color: get-color(bg, 10);
			text-shadow: 0px 0px 6px rgba(114,103,103,1);
		}
	}
}