$ico-dim: rem(24px);
$circle-dim: rem(40px);
$spacing: rem(4px);

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  > li {
    margin: $spacing;

    > a {
      display: flex;
      color: white;
      background: get-color(primary, 0);
      width: $circle-dim;
      height: $circle-dim;
      flex: 0 0 $circle-dim;
      align-items: center;
      border-radius: 100%;
      justify-content: center;

      svg {
        width: $ico-dim;
        height: $ico-dim;
        fill: white;
        transform: scale(1.5);
      }
    }
  }

  @include when-inside('.site-nav__social') {
    justify-content: center;
  }

  @include when-inside('.site-footer') {
    justify-content: center;

    @include media('>=md') {
      justify-content: flex-start;
    }
  }
}