/* -------------------------------------------------------------------------- */
/*                             COMPONENT SWITCHER                             */
/* -------------------------------------------------------------------------- */

.switcher {
	@include media('<=md') {
		@include padding-component;
	}
	.uk-subnav {
		li {
			padding:0;
			a {
				@include set-font($alt-font-family, normal);
				@include rem(font-size, 3rem);
				text-transform: uppercase;
				letter-spacing: $ls-md;
				text-transform: uppercase;
				color: get-color(bg,11);
			}
		}
		.uk-active {
			a {
				background:none;
				color: get-color(bg, 8);
			}
		}
	}
	.uk-switcher {
		margin:0;
	}
}