/* -------------------------------------------------------------------------- */
/*                             COMPONENT SWITCHER                             */
/* -------------------------------------------------------------------------- */

.switcher {
	@include media('<=md') {
		@include padding-component();
	}
	.uk-subnav {
		li {
			a {
				@include set-font($alt-font-family, normal, normal, 3rem);
				text-transform: uppercase;
				letter-spacing: $ls-md;
				color: get-color(bg,11);
			}
		}
		.uk-active {
			a {
				background:none;
				color: get-color(bg, 8);
			}
		}
	}
}