table.uk-table {
	td {
		@include set-font($alt-font-family, 300);
		@include rem(font-size, $textBase);
		vertical-align: top;
		color: black;
		&:hover {
			text-decoration: #796E65;
			text-decoration-line: underline;
		}
		span {
			color:get-color(bg,12);
		}
	}
	th {
		@include set-font($alt-font-family, 300);
		@include rem(font-size, $textBase);
		text-transform: uppercase;
		color: black;
	}
	tbody tr:hover, .uk-table-hover > tr:hover {
		background: get-color(bg, 11);
	}
}
