table.uk-table {
	td {
		vertical-align: top;
		font-family: $alt-font-family;
		font-style: normal;
		font-weight: 300;
		font-size: 1.6rem;
		color: black;
		&:hover {
			text-decoration: #796E65;
			text-decoration-line: underline;
		}
		span {
			color:#A28455;
		}
	}
	th {
		font-family: $alt-font-family;
		font-style: normal;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2rem;
		text-transform: uppercase;
		color: black;
	}
}
