/* -------------------------------------------------------------------------- */
/*                               COMPONENT TABLE                              */
/* -------------------------------------------------------------------------- */

table.uk-table {
	td {
		@include set-font($alt-font-family, 300, normal, $textBase);
		vertical-align: top;
		color: black;
		&:hover {
			text-decoration: get-color(primary, 0);
			text-decoration-line: underline;
		}
		span {
			color:get-color(bg,12);
		}
	}
	th {
		@include set-font($alt-font-family, 300, normal, $textBase);
		text-transform: uppercase;
		color: black;
	}
	tbody tr:hover, .uk-table-hover > tr:hover {
		background: get-color(bg, 11);
	}
}
