$fs: (
  xs: ms(-1),
);
$spacing: rem(12px);

.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: map-get($fs, xs);

  > a {
    color: get-color(bg, 3);
    margin-right: $spacing;
    font-family: $alt-font-family;
    font-weight: 300;
  }

  @include when-inside('.section--dark') {
    > a {
      color: white;
    }
  }
}