$spacing: rem(4px);

.main-menu {
  font-family: $alt-font-family;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  > li {
    margin: $spacing 0;

    > a {
      display: block;
    }
  }

  @include when-inside('.site-nav') {
    margin: rem(16px 0);
    padding-bottom: rem(16px);
    border-bottom: 1px dashed get-color(bg, 0);

    @include media('>=sm') {
      padding: 0;
      border: none;
      display: none;
    }

    @include media('>=lg') {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: rem(100px);
      margin: rem(12px 0 0);
      transition: top $tt;

      > li + li {
        margin-left: rem(12px);
      }
    }
  }

  @include when-inside('.site-header.scroll .site-nav') {
    @include media('>=lg') {
      top: -200px;
    }
  }
}