/* -------------------------------------------------------------------------- */
/*                         COMPONENT SECTION-CONTAINER                        */
/* -------------------------------------------------------------------------- */

$fs: (
	xs: ms(3),
	s: ms(6),
	l: ms(9),
	xl: ms(13),
	xxl: ms(17),
);

.section-container {
	@include media('<=md') {
		padding:0;
	}
		h4 {
			@include set-font($alt-font-family, 200, normal, 2.25rem);
			letter-spacing: 0.09rem;
			text-transform: uppercase;
		}
		h1 {
			@include set-font($alt-font-family, 600, normal, 4.2rem);
			color: get-color(primary,0);
			padding: 0 0 $pb 0;
			@include media('<=md') {
				@include rem(font-size, ms(9));
				line-height: unset;
				padding:unset;
			  }
			@include media('<=sm') {
				@include rem(font-size, ms(8));
			}
		}
		p:last-of-type {
			@include set-font($base-font-family, normal, normal, ms(7));
			line-height: $lh-xl;
			color: get-color(primary, 1);
			@include media('<=md') {
				@include rem(font-size, ms(5));
				line-height: unset;
			} 
			@include media('<=sm') {
				@include rem(font-size, ms(3));
			} 
		}
		a {
			@include set-font($base-font-family, 800, normal, $textExtraLarge);
			display: inline-block;   
			padding-top: 1.8rem;
			text-decoration:none;
			@include media('<=md') {
				@include rem(font-size, ms(6));
				line-height: unset;
			}
			@include media('<=sm') {
				@include rem(font-size, ms(3));
				padding: 0;
			}
		}
		&--image {
			> div {
				width:100%;
				height:100vh;
				@include relative;
				img {
					@include size(100%, 100%);
					object-fit: cover;
				}
				> div {
					@include size(100%, auto);
					h1 {
						@include set-font($alt-font-family, normal, normal, map-get($fs, xxl));
						@include media('<=md') {
							@include rem(font-size, map-get($fs, xl));
						}
						@include media('<=sm') {
							@include rem(font-size, map-get($fs, l));
						  }
						font-weight: 500;
						color:white;
					}
					p {
						color:white;
						@include set-font($alt-font-family, 300, normal, map-get($fs, l));
						@include media('<=md') {
							@include rem(font-size, map-get($fs, s));
						}
						@include media('<=sm') {
							@include rem(font-size, map-get($fs, xs));
						}
					}
				}
			}
		}

		&--intro {
			.uk-container {
				@include media('<=md') {
					@include padding-component();
				}
			}

			h1 {
				color: get-color(primary,0);
				@include set-font($alt-font-family, 600, normal, 4.2rem);
				@include media('<=md') {
					@include rem(font-size, ms(9));
				  }
				@include media('<=sm') {
					@include rem(font-size, ms(8));
				}
			}
			p {
				@include set-font;
				line-height: $lh-xl;
				color: get-color(primary, 1);
				@include media('<=md') {
					@include rem(font-size, ms(5));
					line-height: unset;
				}
				@include media('<=sm') {
					@include rem(font-size, ms(3));
				}
			}
			a {
				@include set-font($base-font-family, 800, normal, $textExtraLarge);
				display: inline-block;
				padding-top:1.8rem; 
				text-decoration: none;
				@include media('<=md') {
					@include rem(font-size, ms(6));
				}
			}
		}
}