$fs: (
	xs: ms(3),
	s: ms(6),
	l: ms(9),
	xl: ms(13),
	xxl: ms(17),
);

// SECTION SECTION-CONTAINER
.section-container {
	@include media('<=md') {
		padding:0;
	}
		h4 {
			font-family: $alt-font-family;
			font-weight: 200;
			font-size: 2.25rem;
			line-height: 3rem;
			letter-spacing: 0.881201px;
			text-transform: uppercase;
		}
		h1 {
			font-family: $alt-font-family;
			font-weight: 600;
			font-size: 4.2rem;
			line-height: 6.3rem;
			color: #796E65;
			padding: 0 0 2rem 0;
			@include media('<=md') {
				font-size: ms(8);
			}
			@include media('<=sm') {
				font-size: ms(6);
				padding: 0;
			}
		}
		p:last-of-type {
			font-family: $base-font-family;
			font-style: normal;
			font-weight: normal;
			font-size: ms(7);
			line-height: 3.4rem;
			color: #222222;
			@include media('<=md') {
				font-size: ms(5);
				line-height: unset;
			} 
			@include media('<=sm') {
				font-size: ms(3);
				line-height: unset;
			} 
		}
		a {
			font-family: $base-font-family;
			font-weight: 800;
			font-size: 2.4rem;
			line-height: 2.3rem;
			display: inline-block;   
			padding-top: 1.8rem;
			@include media('<=md') {
				font-size: ms(6);
				line-height: unset;
			}
			@include media('<=sm') {
				font-size: ms(3);
				padding: 0;
				line-height: unset;
			}
		}
		&--image {
			> div {
				width:100%;
				height: 100vh;
				position: relative;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				> div {
					width: 100%;
					h1 {
						font-family: $alt-font-family;
						font-size: map-get($fs, xxl); 
						@include media('<=md') {
						  font-size: map-get($fs, xl);
						}
						@include media('<=sm') {
							font-size: map-get($fs, l);
						  }
						font-weight: 500;
						color:white;
					}
					p {
						font-family: $alt-font-family;
						font-size: map-get($fs, l);
						@include media('<=md') {
						  font-size: map-get($fs, s);
						}
						@include media('<=sm') {
							font-size: map-get($fs, xs);
						  }
						font-weight: 300;
						color:white;
					}
				}
			}
		}

		&--intro {
			.uk-container {
				@include media('<=md') {
					padding:1.5rem;
				}
			}

			h1 {
				color: #796E65;
				font-family: $alt-font-family;
				font-weight: 600;
				font-size: 4.2rem;
				@include media('<=md') {
					font-size: ms(9);
				  }
				  @include media('<=sm') {
					font-size: ms(8);
						}
			}
			p {
				font-family: $base-font-family;
				font-size: 2.2rem;
				line-height: 3.4rem;
				color: #222222;
				@include media('<=md') {
					font-size: ms(5);
					line-height: unset;
				}
				@include media('<=sm') {
					font-size: ms(3);
					line-height: unset;
				}
			}
			a {
				font-family: $base-font-family;
				font-weight: 800;
				font-size: 2.4rem;
				line-height: 2.3rem;
				display: inline-block;
				padding-top:1.8rem; 
				@include media('<=md') {
					font-size: ms(6);
				}
			}
		}
}