$spacing: rem(6px);

.secondary-menu {
  text-transform: uppercase;
  text-align: center;
  @extend %listreset;
  @include set-font($alt-font-family, normal, normal, ms(-1));
  @include flexbox();
  @include justify-content(center);
  @include flex-wrap(wrap);
  > li {
    margin: 0 $spacing;

    > a {
      display: block;
    }
  }
}