.subheader {
	@include media('<=md') {
		@include padding-component;
	}
  .uk-container {
    @include media('<=md') {
			padding:0;
		  }
    h4 {
      @include rem(font-size, $textLarge);
      font-weight: 200;
      line-height: $lh-lg;
      letter-spacing: $ls-xs;
      text-transform: uppercase;
    }
    h1 {
      @include set-font($alt-font-family, 600);
      @include rem(font-size, 4.2rem);
      text-align: center;
      color: get-color(primary, 0);
      @include media('<=md') {
        @include rem(font-size, ms(9));
        line-height: unset;
      }
      @include media('<=sm') {
        @include rem(font-size, ms(8));
			}
    }
    p {
      @include set-font;
      @include rem(font-size, ms(8));
      line-height: $lh-xl;
      letter-spacing: $ls;
      color: get-color(primary, 1);
      @include media('<=md') {
        @include rem(font-size, ms(5));
        line-height: unset;
      }
      @include media('<=sm') {
        @include rem(font-size, ms(3));
			}
    }
    a {
      @include rem(font-size, $textExtraLarge);
      font-weight: 800;
      line-height: 2.3rem;
      display: block;   
      margin-top:$mt;
      &:hover {
        color: rgb(97, 87, 78);
      }
    }
  }
}