.subheader {
  @include media('<=md') {
    padding:1.5rem;
  }
  .uk-container {
    @include media('<=md') {
			padding:0;
		  }
    h4 {
      font-weight: 200;
      font-size: 2.025rem;
      line-height: 3rem;
      letter-spacing: 0.881201px;
      text-transform: uppercase;
    }
    h1 {
      font-family: $alt-font-family;
      font-weight: 600;
      font-size: 4.2rem;
      text-align: center;
      color: #796E65;
      @include media('<=md') {
        font-size: ms(9);
      }
      @include media('<=sm') {
        font-size: ms(8);
			}
    }
    p {
      font-family: $base-font-family;
      font-style: normal;
      font-weight: normal;
      font-size: ms(8);
      line-height: 3.4rem;
      letter-spacing: 1px;
      color: #222222;
      @include media('<=md') {
        font-size: ms(5);
        line-height: unset;
      }
      @include media('<=sm') {
        font-size: ms(3);
			}
    }
    a {
      font-weight: 800;
      font-size: 2.4rem;
      line-height: 2.3rem;
      display: block;   
      margin-top:2rem;
      &:hover {
        color: rgb(97, 87, 78);
      }
    }
  }
}