.utils {
  font-size: ms(-1);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media('>=sm') {
    flex-direction: row;

    > a + a{
      margin-left: rem(12px);
    }
  }

  @include when-inside('.site-nav') {
    margin: rem(16px 0);

    @include media('>=sm') {
      position: absolute;
      right: rem(15px);
      top: rem(20px);
      margin: 0;
    }
  }
}