$fs: (
  xs: ms(-1),
  sm: ms(1),
  xl: ms(8),
);

.cta {
  @include flexbox();
  @include align-items(center);
  @include set-font($title-font-family, normal);
  @include rem(font-size, map-get($fs, xs));
  @include media('>=sm') {
    @include rem(font-size, map-get($fs, sm));
  }
}